﻿@model HovedOpgaveMVC.Models.RentalItem
@{
    ViewBag.Title = "Rental";
}

<h2>Rediger</h2>
<h4>Ting til Udlejning</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        @{
            if (Model.Billede == null)
            {
                <p>Der blev ikke fundet nuget</p>
            }
            else
            {
                <form action="Edit" method="post">
                    <input type="hidden" name="ID" value="@Model.ID" />
                    <div class="form-group">
                        <label>Billede: </label> <br />
                        <input type="text" name="Billede" value="@Model.Billede" placeholder="URL til billedets lokation" />
                    </div>
                    <div class="form-group">
                        <label>Tekst: </label> <br />
                        <input type="text" name="Tekst" value="@Model.Tekst" placeholder="Tekst/Beskrivelse" />
                    </div>
                    <div class="form-group">
                        <label>Pris: </label> <br />
                        <input type="text" name="Pris" pattern="\d+(\.\d{2})?" value="@Model.Pris" placeholder="1.00"  />
                    </div>

                    <input type="submit" value="Opdater" />
                </form>
            }
        }
    </div>
</div> <br />
<div>
    <input type="button" value="Tilbage" onclick="location.href='@Url.Action("Index", "Rental")'" />
</div>

<script>
    setInterval(function () { ObserveInputValue($('#Pris').val()); }, 100);
</script>