﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - JTM Landbrug</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Custom.css" />
    @Scripts.Render("~/bundles/modernizr")
    <script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>

    <!--Angular CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

    <!--Chart.js CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>

</head>
<body @*class="ColorBrown"*@>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top ColorGrainyellow">
        <a class="navbar-brand" href="/Home/index">JTM Landbrug</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Home/index">Forside <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Rental/index">Udlejning</a>
                </li>
                <li class="nav-item">
                    @*/Forum/Forum*@
                    <a class="nav-link disabled" href="">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/About">Om</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Home/Contact">Kontakt</a>
                </li>
                @Html.Partial("Statistic")
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content ColorGrainyellow">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - JTM Landbrug. Enemærkevej 10 7323 Give</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)



    <script>
        // post ip location to database
        jQuery(document).ready(function ($) {
            jQuery.getScript('http://www.geoplugin.net/javascript.gp', function () {
                var country = geoplugin_countryName();
                var time = new Date;
                var date = time.getDate() + "/" + (time.getMonth() + 1) + "/" + time.getFullYear();
                console.log("Your location is: " + country);
                console.log("Today is: " + date);

                $.post("/Country/Create/", { country, date }, function (data, status) {
                    //console.log("Status: " + status);
                });
            });
        });
    </script>


    <!--BootstrapCDN-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
