@{
    ViewBag.Title = "Om";
    ViewBag.Message = "JTM Landbrug";
}
<h2>@ViewBag.Title @ViewBag.Message.</h2>
<h4>CVR nr: 21565091</h4>

<h3>Leder:</h3>
<p>
    Jeg hedder Jens Toft Madsen.<br />
    Jeg har drevet økologisk landbrug siden 1999.<br />
    Jeg driver landbruget i regi af fritidslandbrug.
</p>
