@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt info.</h2>

<address>
    JTM Landbrug<br />
    Enemærkevej 10 7323 Give<br />
    <abbr>Telefon:</abbr> 71201113
</address>

<address>
    <strong>Kontor:</strong> <a href="mailto:Madsen.Jens@Yahoo.dk">Madsen.Jens@Yahoo.dk</a><br />
    <strong>Support:</strong>   <a href="mailto:Jzaunbrecher53@gmail.com">Jzaunbrecher53@gmail.com</a><br />
</address>