@{
    ViewBag.Title = "Forside";
}


<h1>JTM Landbrug</h1>
<p class="lead">
    Jeg driver JTM Landbrug.<br />
    Det drejer sig primært om bæredygtig markdrift, udlejning af en gylletank og udlejning af lagerfaciliteter.<br />
    Jeg er samtidigt interesseret i at faciltiere videns- og ideudveksling vedr. fornuftig drift af smålandbrug.
</p>